
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/theme.css';

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
